{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block body %}
<div style="overflow: hidden; height: 100vh; margin: 0; padding: 0;">
  <img src="static/contact-us.jpg" style="object-fit: cover; width: 100%;" alt="Contact Us Image">
</div>
<div>
    <h2 class="text-center"> Contact Us </h2>
    <form method="post" action="/customcontact">
      {% csrf_token %}
</div>

<div class="container text-center">

    <form>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Please enter your Name">
      </div>

      <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Please enter your email.">
      </div>

      <div class="form-group">
        <label for="desc">Input your queries</label>
        <input type="desc" class="form-control" id="desc" rows="3" name="desc" placeholder="Please enter your quereis.">
    </div>

      <div class="form-group">
        <label for="Phone Number">Phone Number</label>
        <input type="phone" class="form-control" id="phone" placeholder="Please enter your Phone Number.">
      </div>
        
      <button class="btn btn-primary" type="submit"> Submit </button>

      </form>

</div> 


{% endblock body %}
